{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Language Translator</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/340cef720c.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static "MyAPI/desktop.css" %}">
	<link rel="stylesheet" media="screen and (max-width: 1080px)" href="{% static "MyAPI/mobile.css" %}">
	<link rel="icon" type="image/png" href="{% static "MyAPI/icon.png" %}">
</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>